body{
    background: #ADD8E6;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
    margin: 120px auto;
    max-width: 500px;
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    color: beige;
}

form {
    padding: 30px;
    background-color: beige;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30px;
}

.input {
    padding: 10px;
    border: 1px solid rgba(35, 30, 65, 0.5);
    width: 70%;
    font-size: 18px;
    border-radius: 50px;
    line-height: 15px;
    background: #ADD8E6;
}

.submit-button {
    margin-left: 10px;
    background: #ADD8E6;
    font-size: 16px;
    color: black;
    border: none;
    width: 100px;
    border-radius: 50px;
    padding: 15px 20px;
}

.quote {
    background-color: beige;
    font-size: 15px;
    padding: 20px;
    line-height: 30px;
    border-radius: 15px;
}

.quote strong {
    color:#ADD8E6;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}